<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>About</title>
  </head>
  <body style="background-color: #e3ebeb">
    <h1>ABOUT THIS PROJECT</h1>
    <h3>
      Crypto Guard File Protector is an innovative solution designed to
      safeguard your confidential documents with advanced encryption techniques.
      With this platform, users can digitally sign PDF documents using
      personalized images, effectively creating a secure password for each file.
      The system ensures the authenticity of signed documents through image
      verification, allowing users to validate the integrity of their files with
      ease. Whether it's sensitive business contracts or personal records,
      Crypto Guard File Protector offers peace of mind by providing a reliable
      and user-friendly approach to document security.
    </h3>

    <h2>How It Works:</h2>
    <ol>
      <h3>1. Select a document and an image to digitally sign it.</h3>
      <h3>2. The document is signed using the selected image as a password.</h3>
      <h3>
        3. To verify the document, select the signed document and the same image
        used for signing.
      </h3>
      <h3>4. If the selected image matches, the document is verified.</h3>
    </ol>

    <h2>Get Started:</h2>
    <h3>Ready to secure your documents?</h3>
  </body>
</html>
